*{
    margin: 0px;
    padding: 0px;
}
.menubar{
    background-color: rgb(58, 57, 57);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style: none;
    color: white;
}
.logo_img{
    width: 200px;
    padding: 10px;
    margin: none;
}
.menu{
    display: flex;
    justify-content: right;
    align-items: right;
}
.dec{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}
.dec:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.bnimg{
    width: 300px;
}
.banner_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* margin: 20px; */
    /* border: 1px solid black; */
    height: 100vh;
    background-color: black;
    background-image: url("/images/background.png"),
    linear-gradient(45deg,rgb(24, 23, 23),rgb(29, 29, 29));

}
h1{
    font-size: 36px;
    color: white;

}
p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.btn{
    padding: 7px;
    font-weight: bold;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}
.aboutus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-weight: bold; */
    font-size: larger;
    padding: 10px;
    height: 100vh;
}
.shafimg{
    width: 300px;
    border: 5px solid black;
    border-radius: 50%;
    
}
.ser-h1{
    color: white;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.pp{
    color: black;
    margin: none;
}
.aboutus_text{
    border: 5px solid black;
    padding: 10px;
    border-radius: 15px;
}
.box{
    background-color: black;
    width: 180px;
    height: 270px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px gray;

}
.boxicon{
    width: 70px;
    padding: 10px;
}
.services{
    background-image: url("/images/background.png"),linear-gradient(45deg,rgb(26, 26, 26),rgb(8, 8, 8));
    background-color: black;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxtext{
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.boxbtn{
    background-color: grey;
    color: black;
    cursor: pointer;
    border-radius: 7px;
    font-weight: bold;
}
.boxbtn:hover{
    background-color: #fff;

}
.foottext{
    background-color: black;
    color: white;
    /* font-weight: bold; */
    padding: 10px;
    font-size: 12px;
}

.sesh{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px;
    height: 200px
}